.center{
    position:absolute;
    height: X px;
    width: Y px;
    left:30%;
    top:30%;
    margin-top:- X/2 px;
    margin-left:- Y/2 px;
}

input {
    width: 300px;
}

.image-container {
    background: #EEE;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    align-items: center;
}